# Dependencies
/node_modules

# Database
admin.db
admin.db-journal

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build output
/build
/dist 